body {
    margin: 0;
    background: #e4c6a9
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #18447F;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
  }
  
  .linavbar {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
    font-family: "Figtree", sans-serif;
  }
  
  li a:hover:not(.active) {
    background-color: #102d52;
    color: #A8E0FF;
  }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(111, 31, 31);
    border-radius:30px;
    background-color: rgb(111, 31, 31);
    padding: 10px;
}

.btn-container {
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    border: none;
}

.btn-container:hover {
    background-color: #f0f0f0;
}

.btn-container:active {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: #f0f0f0;
}

.btn:active {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#score-container {
  justify-content: center;
  align-items: center;
}

.page_title{
    margin-top: 7.5%;
    text-align:center;
    font-family: "Tangerine", cursive;
    font-size: 4em;
    font-weight: 4000;
}
.dropdown_info{
    margin: 1% 12.5% 2% 12.5%;
    font-family: "Figtree", sans-serif;
    font-size: 1.5em;
}

summary{
    margin: 1% 10% 0% 10%;
    font-size: 1.5rem;
    font-family: "Figtree", sans-serif;
}

.align{
  margin-left: 12.5%;
  margin-right: 7%;
  font-family: "Figtree", sans-serif;
  font-size: 1.5rem;
}

.align2{
  margin-left: 7%;
  margin-right: 7%;
  font-family: "Figtree", sans-serif;
  font-size: 1.5rem;
}

hr{
  margin: 30px 7.5% 30px 7.5%;
  color:#102d52;
  height: 5px;
  background-color:#102d52;
  border-color: #102d52;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
}

#overlay.hidden {
  display: none;
}

.dropdown-content {
  background-color: #A8E0FF;       /* Blue background */
  padding: 1rem;
  border-radius: 0 0 10px 10px;    /* Rounded bottom corners */
  margin-top: 0.5rem;
  margin-left:10%;
  margin-right: 10%;
  border-width: 10px;
  border-color: black;
}

.flex-item-left {
  flex: 60%;
  display: flex;
  justify-content: center;
}

.flex-item-left2 {
  flex: 32.5%;
  justify-content: center;
  margin-left: 7.5%;
}

.flex-item-right {
  flex: 32.5%;
  justify-content: center;
  margin-right: 7.5%;
}

.flex-item-right2 {
  flex: 60%;
  justify-content: center;
  display: flex;
}

.flex-item-left img {
  width: 75%; 
  max-width: 100%; 
}

.flex-item-right2 img {
  width: 75%; 
  max-width: 100%; 
}

.flex-container{
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 100%;
  width: 100%
}

#learn{
  display: inline-block;
  border-radius: 30px;
  background-color:#18447F;
  border: none;
  color:  #f5f8fa;
  font-family: "Figtree", sans-serif;
  text-align: center;
  font-size: 1.66em;
  padding: 15px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#learn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#learn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#learn:hover span {
  padding-right: 25px;
}

#learn:hover span:after {
  opacity: 1;
  right: 0;
}

.blurb{
  margin: 3% 7.5% 3% 7.5%;
  font-size: 1.2em;
  font-family: "Figtree", sans-serif;
}

p{
  font-family: "Figtree", sans-serif;
  line-height: 1.6;
}

.homeDesc{
  font-size: 1.5em;
}

.header{
  font-family: "Figtree", sans-serif;
  text-align: center;
  margin-top: 2%;
}